<h2>Mesh</h2>
<button id="mesh_button">作成</button>
<h2>demesh</h2>
<input type="text" name="demesh_index">
<button id="demesh_button">削除</button>
<h2>face</h2>
<input type="text" name="face_1">
<input type="text" name="face_2">
<input type="text" name="face_3">
<input type="text" name="face_4">
<button id="face_button">作成</button>
<h2>deface</h2>
<input type="text" name="deface_uuid">
<button id="deface_button">削除</button>
<h2>add</h2>
<input type="text" name="add_x">
<input type="text" name="add_y">
<input type="text" name="add_z">
<button id="add_button">作成</button>
<h2>remove</h2>
<input type="text" name="remove_uuid">
<button id="remove_button">削除</button>
<h2>move</h2>
<input type="text" name="move_x">
<input type="text" name="move_y">
<input type="text" name="move_z">
<input type="text" name="move_uuid">
<button id="move_button">移動</button>

<div data-room="<%= @room.id%>" data-user="<%= @user.id %>"></div>
<%= javascript_include_tag 'sync', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'patch', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'diff', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'edit', 'data-turbolinks-track': 'reload' %>
